Source: hello-destructor
Section: misc
Priority: optional
Maintainer: Josue Ortega <josueortega@debian.org.gt>
Build-Depends: debhelper (>= 9),
 dpkg-dev (>= 1.18.1),
 dh-autoreconf (>= 10)
Standards-Version: 3.9.6
Homepage: https://github.com/eribertomota/hello-destructor
Vcs-Browser: https://github.com/noahfx/hello-destructor-deb
Vcs-Git: https://github.com/noahfx/hello-destructor-deb.git

Package: hello-destructor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Destructor of bad lifes
 Terrible program that wants to kill you, hello-destructor is a bad program
 that wish kill all people in the world.
 To execute the program, the user must be courageous.
 hello-destructor is very terrible.
 hello-destructor is sovereign and doesn't follow human rules.
